#circle {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

#inner-circle {
	position: absolute;
	top: 0;
	right: 50%;
	transform: translate(50%, -50%);
	width: 30px;
	height: 30px;
	background-color: black;
	border-radius: 50%;
}

h1 {
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.clicked {
	#circle {
		background-color: black;
		opacity: 0.3;
	}

	#inner-circle {
		background-color: white;
	}
}